.testimonials {
	padding: 50px 0;
	text-align: center;
	color: $font-color;
	overflow: hidden;
	.header {
		margin-bottom: 40px;
		font-size: 2rem;
		font-weight: 600;
		padding-bottom: 5px;
		display: inline-block;
		border-bottom: 2px solid $base-color;
	}
	.testmonial {
        text-align: center;
        padding: 30px;
		img {
			width: 80px;
			border-radius: 100%;
            margin: auto;
            margin-bottom: 20px;
		}
		.name {
            font-weight: 700;
            font-size: 1.2rem;
		}
        .quote{
            font-size: 0.8rem;
        }
	}
}
